@model ShirlyStudio.Models.Category

@{
    ViewData["Title"] = "פרטי קטגוריה";
}
@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}


<h2>פרטי קטגוריה</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="Index">בחזרה לרשימה</a>
</div>
