@{
    ViewData["Title"] = "צור איתנו קשר בפייסבוק";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<link rel="stylesheet" href="~/css/FacebookDesign.css" />

<p>עמוד הבית של שירלי </p>

<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-page" data-href="https://www.facebook.com/StudioShirly/?timeline_context_item_type=intro_card_work&amp;timeline_context_item_source=100001378687979&amp;fref=tag" data-tabs="timeline" data-width="500" data-height="5000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/StudioShirly/?timeline_context_item_type=intro_card_work&amp;timeline_context_item_source=100001378687979&amp;fref=tag" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/StudioShirly/?timeline_context_item_type=intro_card_work&amp;timeline_context_item_source=100001378687979&amp;fref=tag">‎שירלי מרכז אומנויות‎</a></blockquote></div>
</body>


