@model WebApplication4.Models.Teacher

@{
    ViewData["Title"] = "מחיקת מורה";
}

@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>מחיקת מורה</h2>

<h3>?האם את בטוחה שאת רוצה למחוק מורה זו</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-default" /> |
        <a asp-action="Index">בחזרה לרשימה</a>
    </form>
</div>
