@model WebApplication4.Models.Transaction

@{
    ViewData["Title"] = "פרטי עיסקה";
}

@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>פרטי עיסקה</h2>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="Index">בחזרה לרשימה</a>
</div>
