@model IEnumerable<WebApplication4.Models.Transaction>

@{
    ViewData["Title"] = "רשימת עיסקאות";
}

@{
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}


<h2>רשימת עיסקאות</h2>

<p>
    <a asp-action="Create">יצירת עיסקה חדשה</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">עריכת עיסקה</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">פרטי עיסקה</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">מחיקת עיסקה</a>
                </td>
            </tr>
        }
    </tbody>
</table>
